 @-webkit-keyframes color-change {
        0% {background: red; }
        25% { background: #00FF40; }
        50% { background: #0080FF; }
        75% { background: #8904B1; }
        100% { background: #FFFF00; }
    }
    @-moz-keyframes color-change {
       0% {background: red; }
        25% { background: #00FF40; }
        50% { background: #0080FF; }
        75% { background: #8904B1; }
        100% { background: #FFFF00; }
    }
    @-ms-keyframes color-change {
       0% {background: red; }
        25% { background: #00FF40; }
        50% { background: #0080FF; }
        75% { background: #8904B1; }
        100% { background: #FFFF00; }
    }
    @-o-keyframes color-change {
       0% {background: red; }
        25% { background: #00FF40; }
        50% { background: #0080FF; }
        75% { background: #8904B1; }
        100% { background: #FFFF00; }
    }
    @keyframes color-change {
        0% {background: red; }
        25% { background: #00FF40; }
        50% { background: #0080FF; }
        75% { background: #8904B1; }
        100% { background: #FFFF00; }
    }
 
@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 50px #004A7F; }
  50% { background-color: #ff002f; box-shadow: 0 0 50px #ff002f; }
  100% { background-color: #004A7F; box-shadow: 0 0 50px #004A7F; }
}
body {

    background-image: url("../img/Picture1.gif");
    content: "";
    opacity: 0.96;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
}
.hinhtron {
	 display: inline-block; 
    background: #E6E6E6;
   border-radius: 50%;
  /* height: 63px;
   width: 63px;*/
  position: relative;
  z-index: 1;
  opacity: 1;
      
}
.inht {
position: absolute;
   background: white;
   border-radius: 50%;
   height: 60%;
   width: 60%;
	font-size:  2.8vw;
	font-weight: bold;
  line-height: 3.4vw;
  text-align: center;
   top: 50%;
   left: 50%;
   margin: -30% 0px 0px -30%;
}
div {
    text-align: center;
}
.bigNumberDisplay {
    font-size: 31em;
    line-height: 370px;
    display: inline-block;
}

.numbersTable {
    font-size: 10px;
}

.container {
  position: absolute;
   width: 95%;
    /*left: 0;*/
    background-color: white;
    /*text-align: center;*/
    margin-left: 2.4%
}

table, tr, td {
    border-collapse: collapse;
    border: solid 5px #000000;
}

td {
    min-width: 50px;
    text-align: center;
    font-size: 30px;
}

div.selected1 {
    background: radial-gradient(circle at 5px 5px,red,#000)
    /*background: radial-gradient(circle at 5px 5px,#00FF40,#000) */
    /*background: radial-gradient(circle at 5px 5px,#0080FF,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#8904B1,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#FFFF00,#000)*/
}
div.selected2 {
    /*background: radial-gradient(circle at 5px 5px,red,#000)*/
    background: radial-gradient(circle at 5px 5px,#00FF40,#000) 
    /*background: radial-gradient(circle at 5px 5px,#0080FF,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#8904B1,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#FFFF00,#000)*/
}
div.selected3 {
    /*background: radial-gradient(circle at 5px 5px,red,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#00FF40,#000) */
    background: radial-gradient(circle at 5px 5px,#0080FF,#000)
    /*background: radial-gradient(circle at 5px 5px,#8904B1,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#FFFF00,#000)*/
}
div.selected4 {
    /*background: radial-gradient(circle at 5px 5px,red,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#00FF40,#000) */
    /*background: radial-gradient(circle at 5px 5px,#0080FF,#000)*/
    background: radial-gradient(circle at 5px 5px,#8904B1,#000)
    /*background: radial-gradient(circle at 5px 5px,#FFFF00,#000)*/
}

div.selected5 {
    /*background: radial-gradient(circle at 5px 5px,red,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#00FF40,#000) */
    /*background: radial-gradient(circle at 5px 5px,#0080FF,#000)*/
    /*background: radial-gradient(circle at 5px 5px,#8904B1,#000)*/
    background: radial-gradient(circle at 5px 5px,#FFFF00,#000)
}
div.last_number{
	 -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite;

}
.col-md-3.hinhtron {
    width:17%;
    padding-top:17%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 4px;
}
.col-md-4 {
      margin-right: -2.95%;
    margin-left: 1.35%;
}

